<p id="notice"><%= notice %></p>

<h1>References</h1><br>
<%= link_to 'New Reference', new_reference_path %><br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Work</th>
      <th>Page</th>
      <th>Line</th>
      <th>Genre</th>
      <th>Excerpt</th>
      <th>From</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @references.each do |reference| %>
      <tr>
        <td><%= reference.name %></td>
        <td><%= reference.work.title %></td>
        <td><%= reference.page %></td>
        <td><%= reference.line %></td>
        <td><%= reference.genre.name %></td>
        <td><%= reference.excerpt %></td>
        <td><%= reference.from %></td>
        <td><%= link_to 'Show', reference %></td>
        <td><%= link_to 'Edit', edit_reference_path(reference) %></td>
        <td><%= link_to 'Destroy', reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


