<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reference.name %>
</p>

<p>
  <strong>Work:</strong>
  <%= @reference.work %>
</p>

<p>
  <strong>Page:</strong>
  <%= @reference.page %>
</p>

<p>
  <strong>Line:</strong>
  <%= @reference.line %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @reference.genre %>
</p>

<p>
  <strong>Excerpt:</strong>
  <%= @reference.excerpt %>
</p>

<p>
<strong>From:</strong>
<%= @reference.from %>
</p>

<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %> |
<%= link_to 'New Reference', new_reference_path %><br>
